:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}

/* Style for the container holding the forms */
.form-container {
  display: flex; /* Use flexbox layout */
}

/* Style for each form */
.form {
  flex: 1; /* Each form takes up equal space */
  margin-right: 10px; /* Add some space between forms */
}